<div class="bleeding-edge">
              想和 <b>dev channel</b>一起并且使用最新的功能？
  下载
  {% for editor in site.custom.downloads.binaries %}
    {% if editor.os == 'macos' %}
    <span class="{{ editor.os }} downloads">
      <a class="download-link" data-bits="64" data-os="{{ editor.os }}" data-build="continuous" href="{{ site.custom.downloads.dartarchive-dev-url-prefix }}/latest/editor/darteditor-{{ editor.os }}-x64.{{ editor.editor-ext }}">
               最新的开发版本</a>.
    </span>
    {% else %}
    <span class="{{ editor.os }} downloads">
      最新的开发版本：
      <a class="download-link" data-bits="64" data-os="{{ editor.os }}" data-build="continuous" href="{{ site.custom.downloads.dartarchive-dev-url-prefix }}/latest/editor/darteditor-{{ editor.os }}-x64.{{ editor.editor-ext }}">
      64-bit</a>
      或者
      <a class="download-link" data-bits="32" data-os="{{ editor.os }}" data-build="continuous" href="{{ site.custom.downloads.dartarchive-dev-url-prefix }}/latest/editor/darteditor-{{ editor.os }}-ia32.{{ editor.editor-ext }}">
      32-bit</a>.
  </span>
  {% endif %}
  {% endfor %}
    遇到问题记得反馈哦！
  </p>
</div>
