---
layout: default
title: "Dart 编辑器"
description: "Dart 编辑器 是一个自定义的用来开发 Dart 应用的超级 IDE。"
has-permalinks: false
js:
- url: /js/os-switcher.js
  defer: true
- url: /js/editor-downloads-analytics.js
  defer: true
- url: /js/editor-version.js
  defer: true
---

<div class="jumbotron">
  <div class="row">
    <div class="col-md-6">
      <h1> {{page.title}} </h1>
      <p>
        一个用来 编辑、调试、运行 Dart 应用的开源工具。
      </p>
    </div>
    <div class="col-md-6">
    <embed class="dart-editor-video" src="http://player.youku.com/player.php/sid/XNjQxMDI5ODYw/v.swf" allowFullScreen="true" quality="high" width="480" height="400" align="middle" allowScriptAccess="always" type="application/x-shockwave-flash"></embed>
    <!--
      <iframe class="dart-editor-video" src="//www.youtube.com/embed/VQLdm8BY1Ao?vq=hd720" frameborder="0" allowfullscreen></iframe>
    -->
    </div>
  </div>
</div>


<h2 id="download"> 下载 Dart 编辑器 </h2>

<p class="os-choices">
Dart 编辑器 包含在 Dart 下载包中：
{% include os-choices.html %}
</p>

<p>
  {% include downloads/_dart-editor.html buttonclass="btn btn-primary btn-lg" %}
</p>

<p>
  {% include downloads/_dart-editor-continuous.html %}
</p>


<h2 id="install"> 安装 Dart 编辑器 </h2>

<p>
 只需解压下载的文件，就安装好了。
</p>

<p>
 如果你想用命令行工具，也已经
 有了，在 Dart 下载包中已经包含了 SDK。
你可能还需要按照 <a href="/tools/sdk/">SDK 页面</a>
介绍的方式来设置
环境变量。
</p>

<p>
默认包含的 Dart 编辑器
为 <em>稳定版本</em>。
差不多每隔六周自动更新一次。
在
<a target="_blank"
  href="{{ site.custom.downloads.dartarchive-stable-url-prefix }}/latest/changelog.html">版本改变日志</a>
  页面记录了发布的日期和主要的功能。
<em>dev channel build</em> 是最新的测试版本 Dart 编辑器，
包含了一些仍在开发中的新功能。
如果你在会用开发者版本，则记得经常下载新的使用，并
反馈遇到的各种问题和关于新功能的使用意见。
</p>

<aside class="alert alert-info">
  <b> 遇到问题了？ </b>
  参考 <a href="troubleshoot.html">Dart 编辑器 问题指南</a>。
</aside>


<h3 id="update"> 更新 </h3>

<p>
  Dart 编辑器 可以自动更新。
  当新的稳定版本发布的时候，
  可以通过如下命令还更新编辑器：
   <b>Preferences</b>-> <b>Update</b> 然后选择
    <b>Download updates automatically</b>。
</p>

<p>
如果你不想自动升级，则
 不要勾选 <b>Download updates automatically</b> 选项。
 当你想更新的时候，
 使用 <b>About Dart 编辑器</b> 对话框来下载和应用
 更新。
</p>


<h2 id="using"> 使用 Dart 编辑器 </h2>

<p>
  要开始使用 Dart 编辑器，
  参考如下内容：
</p>

<ul>
  <li>
    <a href="/docs/tutorials/get-started/">起步</a> <span class="text-muted">( <em>Dart 教程</em> 中的第一篇内容)</span><br />
    从头介绍了 Dart 编辑器， 从如何下载到如何运行第一个应用。
  </li>

  <li>
    <a href="/docs/dart-up-and-running/contents/ch01.html#ch01-editor">Up and Running</a> <span class="text-muted">(<em>Dart Up and Running</em> 第一章中的一部分)</span><br />
    快速的告诉你如何下载 Dart 编辑器、运行示例和创建应用。
  </li>
</ul>

<p>
  关于如何<em>使用</em> Dart 编辑器 的更详细信息，
  参考：
</p>

<ul>
  <li>
    <a href="/docs/dart-up-and-running/contents/ch04-tools-editor.html">Dart 编辑器</a> <span class="text-muted">(<em>Dart Up and Running</em> 第四章)</span><br />
    介绍如何使用 Dart 编辑器 ，例如 如何设置启动不同的浏览器。
  </li>
</ul>


<h2 id="features"> 特性 </h2>

<p>
  Dart 编辑器 包含了
  静态分析引擎并直接和
  Dartium 集成，
  帮助你 开发、调试和维护您的应用。
</p>  

<div class="row">
    <div class="col-md-4">
      <div class="thumbnail">
        <img src="images/editor-code-completion.png" alt="Code completion in Dart 编辑器">
        <h5>代码完成</h5>
        <p>
        查看对象可用的函数和变量。
        </p>
      </div>
    </div>

    <div class="col-md-4">
      <div class="thumbnail">
        <img src="images/editor-refactor.png" alt="Refactoring in Dart 编辑器">
        <h5>重构</h5>
        <p>
        不用改变代码行为来重新
        组织代码。
        </p>
      </div>
    </div>
    
    <div class="col-md-4">
      <div class="thumbnail">
        <img src="images/editor-outline.png" alt="Code completion in Dart 编辑器">
        <h5>大纲视图</h5>
        <p>
        在树结构中
        列出 类、
        函数和变量。
        </p>
      </div>
    </div>
</div>

<p></p>

<div class="row">
  <div class="col-md-4">
    <div class="thumbnail">
      <img src="images/editor-debug.png" alt="Debugging in Dart 编辑器">
      <h5>调试器</h5>
      <p>
      设置断点、查看变量的值、
      单步调试等。
      </p>
    </div>
  </div>
  
  <div class="col-md-4">
    <div class="thumbnail">
      <img src="images/editor-warnings.png" alt="Static analysis warnings in Dart 编辑器">
      <h5>静态分析</h5>
      <p>
      当检测到潜在的问题和不一致的时候会发出警告。
      </p>
    </div>
  </div>
  
  <div class="col-md-4">
    <div class="thumbnail">
      <img src="images/editor-callers.png" alt="Find callers for methods in Dart 编辑器">
      <h5>查找调用者</h5>
      <p>
      快速查找所有调用一个函数的地方，可以很容易的跳转到对应的地方。
      </p>
    </div>
  </div>
</div>


<h2 id="build"> 自定义 build 过程 </h2>

<p>
通过创建一个 build.dart 文件你可以
在 Dart 编辑器 build 过程中添加自定义行为。
例如，
  Web UI 用 build.dart 文件来运行自定义
  工具。
参考 <a href="build.html">Build.dart 和 Dart 编辑器 Build 系统</a>
来了解实现 build.dart 文件的详细内容。
</p>


<h2 id="bugs"> 提交 Bug 和 功能申请 </h2>

<p>
点击  SEND FEEDBACK 连接
  (在 Dart 编辑器 窗口右上角)
  来反馈问题和提升 Dart 
  编辑器的建议。
</p>

<aside class="alert alert-info">
  <b>提示：</b>
  如果你想和 Dart 编辑器团队讨论遇到的 Bug，
  <b>请包涵你的 Email 地址</b>。
</aside>

<p>
要查看已有问题列表或者
创建一个新的，请访问
  <a href="https://code.google.com/p/dart/issues/list?can=2&amp;q=label%3AArea-Editor">Dart 编辑器 问题列表</a>。
</p>


<h2 id="troubleshooting"> 故障排除 </h2>

<p>
  <a href="troubleshoot.html">排除 Dart 编辑器 问题</a>
  页面介绍了常见的编辑器问题以及
  解决方式。
</p>

