---
layout: homepage
googleapi: true
js:
- url: /js/display-news.js
- url: /js/os-switcher.js
  defer: true
- url: /js/editor-downloads-analytics.js
  defer: true
- url: /js/front-page-analytics.js
  defer: true
- url: /js/editor-version.js
  defer: true
---

  <div class="container-page">
    <div class="container-full hero-hldr">
      <div class="hero container">
        <div class="row">
          <div class="col-md-10 col-md-offset-1">
            <h5>1.0 发布了</h5>
            <h1>Dart 是一种新的用来建构可扩展Web应用程序的语言。</h1>
            {% include downloads/_dart-editor.html buttonclass="btn btn-default btn-lg download-btn" %}
          </div>
        </div>
      </div>
    </div>

    <div class="container-full sub-hero-hldr">
      <div id="feed-posts" class="sub-hero container">
      </div>
    </div>

    <div class="container dart-container">
      
      <section class="dart-ctas">
        <div class="row">
          <div class="col-md-10 col-md-offset-1">
            <div class="row">
              <div class="col-md-4">
                <h2>了解下 Dart</h2>
                <p class="timer"><i class="sprite-icon-timer"></i>大约 5 分钟</p>
                <p>Dart 是基于类的和面向对象的、非教条式的语言。</p>
                <a id="see-code" href="#code"><i class="sprite-icon-triangle"></i>了解代码</a>
              </div>
              <div class="col-md-4">
                <h2>尝试下 Dart</h2>
                <p class="timer"><i class="sprite-icon-timer"></i>大约 1 小时</p>
                <p>编写一个 Dart web 程序 - 即使你以前从未编写过 web 程序。</p>
                <a href="/codelabs/darrrt/"><i class="sprite-icon-triangle"></i>编写代码</a>
              </div>
              <div class="col-md-4">
                <h2>深入了解</h2>
                <p class="timer"><i class="sprite-icon-timer"></i>大约 1 天</p>
                <p>Dart 有很多 <a href="#tools">工具</a>、
                <a href="#libraries">代码库</a>、以及文档和
                                                         一个开发者社区</p>
                <a href="/docs/"><i class="sprite-icon-triangle"></i>了解更多</a>
              </div>
            </div>
          </div>
        </div>
        <div class="row">
          <div class="col-md-10 col-md-offset-1 browser-support">
            <p>使用 <a href="#dart2js">Dart-to-JavaScript 编译器</a>，
                                                  所有最新的浏览器 (包含桌面版和移动版) 都可以运行 Dart web 程序。</p>
            <i class="sprite-icon-browsers"></i>
          </div>
        </div>
      </section>

      <section class="dart-new-language sec-shadow" id="code">
        <div class="row">
          <div class="col-md-10 col-md-offset-1">
            <h2>Dart 是新且非常熟悉的</h2>

            <div id="dart-language-carousel" class="carousel slide dart-carousel" data-interval="false">
              <!-- Indicators -->
              <ol class="carousel-indicators">
                <li data-target="#dart-language-carousel" data-slide-to="0" class="active">易于学习</li>
                <li data-target="#dart-language-carousel" data-slide-to="1">简洁的</li>
                <li data-target="#dart-language-carousel" data-slide-to="2">可选类型的</li>
                <li data-target="#dart-language-carousel" data-slide-to="3">模块化的</li>
              </ol>
              <!-- Wrapper for slides -->
              <div class="carousel-inner">
                <div class="item active">
                  <p>你可能已经见过甚至编写过 Dart 代码。 <a href="/samples/">查看更多示例。</a> </p>
                  <div class="code-hldr">
<pre class="prettyprint lang-dart">
main() {                              // 这里是程序开始执行的入口
  print(<a href="#" class="dart-popover" data-toggle="popover" title="把对象转化为字符串" data-html="true" data-trigger="hover focus" data-content="print() 函数 -- 使用 object 的 toString() 函数 -- 把接收的任何对象参数转化为字符串 。">new Fibonacci(10)</a>);          // 打印一个对象的值
}

class Fibonacci {                     // 定义一个类。
  int original, fibo;                 //声明变量。
  String toString() => '<a href="#" class="dart-popover" data-toggle="popover" title="字符串插值" data-html="true" data-trigger="hover focus" data-content="使用 $标示符 来插入标示符所代表的值 (在该示例中是 fibo 变量的整数值) 到一个字符串中。">$fibo</a>';      // 使用速记语法来定义函数。

  Fibonacci(int value) :              // 使用列表初始化程序定义构造函数。
    original = value, fibo = fib(value) {
  }

  static int fib(int n) {             // 定义一个类函数。
    if (n < 2) {                      // 流程控制和表达式。
      return n;
    } else {
      return fib(n-1) + fib(n-2);     // 算术操作符。
    }
  }
}
// 想要更简洁的代码？ 可以用一行代码函数替代：
// fib(n) => n < 2 ? n : (fib(n - 1) + fib(n - 2));
</pre>
                  </div>
                </div>
                <div class="item">
                  <p>写的少。干的多。</p>
                  <div class="code-hldr">
<pre class="prettyprint lang-dart">
import 'dart:math' show PI;

List shapes = <a href="#" class="dart-popover" data-toggle="popover" title="空列表字符串" data-html="true" data-trigger="hover focus" data-content="使用空的方括号可以创建一个新的空 List 对象。等价于 new List()。">[]</a>;                     // 使用字面字符串创建列表。
addShape(shape) <a href="#" class="dart-popover" data-toggle="popover" title="胖箭头( Fat-arrow )语法 " data-html="true" data-trigger="hover focus" data-content="在胖箭头左边的函数 (在该示例中为 addShape) 返回胖箭头右边的值。">=></a> shapes.add(shape); // 速记函数语法。

main() {
  // 级联(Cascade)操作符 (..) 可以减少输入重复的变量。
  addShape(new Ellipse(10, 20)<a href="#" class="dart-popover" data-toggle="popover" title="级联操作符" data-html="true" data-trigger="hover focus" data-content="级联操作符可以连续调用同一个对象上的多个函数和变量。">..</a>rotation = 45*PI/180
                              <a href="#" class="dart-popover" data-toggle="popover" title="级联操作符" data-html="true" data-trigger="hover focus" data-content="级联操作符可以连续调用同一个对象上的多个函数和变量。">..</a>color = 'rgb(0,129,198)'
                              <a href="#" class="dart-popover" data-toggle="popover" title="级联操作符" data-html="true" data-trigger="hover focus" data-content="级联操作符可以连续调用同一个对象上的多个函数和变量。">..</a>outlineWidth = 0);

  // 可以很方便的在字符串中插入表达式的值。
  print('Area of the first shape: <a href="#" class="dart-popover" data-toggle="popover" title="在字符串中插入表达式的值" data-html="true" data-trigger="hover focus" data-content="使用 ${表达式} 在字符串中插入表达式的值。表达式运算后的值转化为字符串。">${shapes[0].area}</a>');
}

class Ellipse {
  num minorAxis, majorAxis;
  // 在构造函数体运行之前设置变量值的语法糖。
  Ellipse(this.minorAxis, this.majorAxis);
}
</pre>
                  </div>
                </div>
                <div class="item">
                  <p>在代码中添加类型可以帮助人和工具理解代码。
                                                                  或者不用类型。你可以一直使用动态类型。</p>
                  <div class="code-hldr">
                    <div class="code-hldr">  
                      <div class="item" style="margin-top:23px">
                                                                                           没有类型，更自由的编写代码。<br>
                        <img src="imgs/no_types.png">
                                </div>
                                <div class="item" style="margin-top:23px;">
                                                                                               有类型， 很容易的检测错误。<br>
                        <img src="imgs/with_types.png">
                      </div>
                    </div>
                  </div>
                </div>
                <div class="item">
                  <p>可扩展的结构。用函数、类、
                  mixins（混入）、和库。</p>
                  <div class="code-hldr">  
  <img src="imgs/modular.png">
                  </div>
                </div>
              </div>
            </div>

          </div>
        </div>
      </section>
      
      <section class="dart-libraries">
        <div class="row">
          <div class="col-md-10 col-md-offset-1" id="libraries">
            <h2>Dart 语言广泛的库给你更多选择</h2>

            <div id="dart-libraries-carousel" class="carousel slide dart-carousel" data-interval="false">
              <!-- Indicators -->
              <ol class="carousel-indicators">
                <li data-target="#dart-libraries-carousel" data-slide-to="0" class="active">集合</li>
                <li data-target="#dart-libraries-carousel" data-slide-to="1">异步</li>
                <li data-target="#dart-libraries-carousel" data-slide-to="2">HTML</li>
                <li data-target="#dart-libraries-carousel" data-slide-to="3">测试</li>
              </ol>
              <!-- Wrapper for slides -->
              <div class="carousel-inner">
                <div class="item active">
                  <p>每个应用都可以使用 Dart 核心类库提供的 lists、 sets、和 maps。</p>
                  <div class="code-hldr">        
<pre class="prettyprint lang-dart">
Map famousDuos = { 'Han Solo': 'Chewbacca',      // Map 字面字符串。
                   'Bonnie': 'Clyde',
                   'Laurel': 'Hardy' };
List myFriends = [ 'Seth', 'Kathy', 'Shailen' ]; // List 字面字符串。

// 从<a href="#" class="dart-popover" data-toggle="popover" title="Iterables" data-html="true" data-trigger="hover focus" data-content="一个 Iterable 对象使用  Iterator 每次提供一个对象。 Maps、 lists、 和 sets 都是 Iterable 对象。">Iterable</a> 对象创建 lists 和 maps。
List shuffledSidekicks = new List.from(famousDuos.values)..shuffle();
Map mixedDuos = new Map.fromIterables(famousDuos.keys, shuffledSidekicks);

// 遍历集合
mixedDuos.<a href="#" class="dart-popover" data-toggle="popover" title="使用 forEach()遍历集合" data-html="true" data-trigger="hover focus" data-content="forEach() 函数使用每个 Map 对象中的 key-value 值调用所提供的函数。在该示例中，函数只是打印出 Map 的 key和value。">forEach((k, v) { print('$k, $v'); });</a>

// 一些 lists、 maps、 和 sets 是可扩容的。
Set setOfMyFriends = new Set.from(myFriends);
Set famousPeople = new Set.from(famousDuos.values);
famousPeople.addAll(famousDuos.keys);

// 集合提供了丰富的遍历函数。
print(famousPeople.intersection(setOfMyFriends).isEmpty);
print(famousPeople.union(setOfMyFriends).length);
</pre>
                  </div>
                </div>
                <div class="item">
                  <p>Dart 中的 Future 和 Stream 类提供了用来访问当前尚未可用对象的统一接口。</p>
                  <div class="code-hldr">   
<pre class="prettyprint lang-dart">
// 获取一个元素上的 key-press 事件：
querySelector('textarea').<a href="#" class="dart-popover" data-toggle="popover" title="onKeyPress" data-html="true" data-trigger="hover focus" data-content="元素的 onKeyPress 变量是 ElementStream 的实例，当在元素上按键的时候 ElementStream 提供了按键事件的通知。">onKeyPress</a>

  // 过滤按键事件，值获取特定键的事件：
  <a href="#" class="dart-popover" data-toggle="popover" title="where()" data-html="true" data-trigger="hover focus" data-content="where() 是用来过滤事件流的函数。">.where</a>((e) => e.keyCode >= 32 && e.keyCode <= 122)

  // 把输入的按键代码转化为对应的字符：
  <a href="#" class="dart-popover" data-toggle="popover" title="map()" data-html="true" data-trigger="hover focus" data-content="map() 是用提供的函数来转换事件流中每个值的函数。">.map</a>((e) => new String.fromCharCode(e.charCode))

  // 获取第一个字符，返回一个 Future。
  <a href="#" class="dart-popover" data-toggle="popover" title="first" data-html="true" data-trigger="hover focus" data-content="first 是 Stream 的一个属性， 使用 Future 返回 Stream 中的第一个元素。">.first</a>

  // 当 Future 完成的时候，在控制台打印出第一个字符。
  <a href="#" class="dart-popover" data-toggle="popover" title="then()" data-html="true" data-trigger="hover focus" data-content="then() 是 Future 中的一个函数，该函数用来在 Future 中注册一个回调函数。">.then</a>((char) => print('First char=$char'));






</pre>
                  </div>
                </div>
                <div class="item">
                  <p>Dart 的 HTML 库释放现代浏览器的能力， 平滑处理浏览器之间的差异。</p>
                  <div class="code-hldr">

<pre class="prettyprint lang-dart">
import 'dart:html';
import 'dart:convert' show JSON;

void main() {
  querySelector('#getColors')<a href="#" class="dart-popover" data-toggle="popover" title="监听事件流" data-html="true" data-trigger="hover focus" data-content="注册一个鼠标点击事件的监听器">.onClick.listen(showColors)</a>; // Event handling.
}
void showColors(Event e) {
  <a href="#" class="dart-popover" data-toggle="popover" title="Make HTTP Requests" data-html="true" data-trigger="hover focus" data-content="使用 HttpRequest.getString() 来从一个URI中读取数据。在该示例中，返回的数据为 JSON 格式。">HttpRequest.getString('colors.json')</a>             // 在线的 HTTP 请求。
      .then((String jsonString) {                   // 使用 Futures 和 Streams.
        UListElement colors = querySelector('#colors');  // DOM element 类型。
        List<String> colorList = <a href="#" class="dart-popover" data-toggle="popover" title="JSON converter" data-html="true" data-trigger="hover focus" data-content="JSON-- dart:convert中的对象-- 提供了编码和解码 JSON 字符串的功能。">JSON.decode(jsonString);</a>
        for (int i = 0; i < colorList.length; i++) {
          colors.children.add(                      // 动态操作 DOM .
            new LIElement()..text = colorList[i]    // 动态创建 element 。
             ..style.color = colorList[i]           // 改变 CSS 样式。
             ..style.fontFamily = 'Marker Felt');
        }
      })
      .catchError((_) { /* 错误处理。 */ });
}
</pre>

                  </div>
                </div>
                <div class="item">
                  <p>使用  Dart 的单元测试和 mock 库
                                                                 来确保你的应用没有Bug。</p>
                  <div class="code-hldr">
{% prettify dart %}
import 'package:unittest/unittest.dart';
import 'dart:math' show Point;

main() {
  Point a = new Point(2, 15);
  Point b = new Point(7, 3);

  test('point distances', () {
    expect(a.distanceTo(b), equals(13));
  });
  test('point magnitude close to', () {
    expect(a.magnitude, closeTo(15, .25));
  });
  test('point magnitude greater than', () {
    expect(a.magnitude, greaterThan(b.magnitude));
  });
  test('point == operator', () {
    expect(a == b, equals(false));
  });
}
{% endprettify %}
                  </div>
                </div>
              </div>
            </div>

          </div>
        </div>
      </section>

      <section class="js-dart-apps sec-shadow">
        <div class="row">
          <div class="col-md-10 col-md-offset-1" id="dart2js">
            <h2>编译为 JavaScript 可以让你的应用现在就可以部署</h2>

            <div id="js-dart-apps-carousel" class="carousel slide dart-carousel" data-interval="false">
              <!-- Indicators -->
              <ol class="carousel-indicators">
                <li data-target="#js-dart-apps-carousel" data-slide-to="0" class="active">支持所有流行的浏览器</li>
                <li data-target="#js-dart-apps-carousel" data-slide-to="1">Tree shaking（代码混淆）</li>
                <li data-target="#js-dart-apps-carousel" data-slide-to="2">Minifying（最小化）</li>
              </ol>
              <!-- Wrapper for slides -->
              <div class="carousel-inner">
                <div class="item active">
                  <p>Dart web 应用可以在所有流行的浏览器中运行。
		  </p>
                  <img src="/imgs/temp-code-example.png" alt="Modern browsers, desktop and mobile">

                </div>
                <div class="item">
                  <p>使用了大量的库？没关系。 Tree shaking 自动去除那些没有使用的代码。</p>
                   <img src="/imgs/slider-tree-example.png" alt="temp image">
                </div>
                <div class="item">
                  <p>在部署之前压缩代码可以加速 JavaScript 的加载。</p>
                  <img src="/imgs/slider-minify-example.png" alt="temp image">
                </div>
              </div>
            </div>

          </div>
        </div>
      </section>

      <section class="amazing-apps">
        <div class="row">
          <div class="col-md-10 col-md-offset-1">
            <h2>Dart 是用来创建令人惊奇的应用的</h2>

            <div id="amazing-apps-carousel" class="carousel slide dart-carousel" data-interval="false">
              <!-- Indicators -->
              <ol class="carousel-indicators icon-indicators">
                <li data-target="#amazing-apps-carousel" data-slide-to="0" class="active"><i class="sprite-icon-app-1"></i></li>
                <li data-target="#amazing-apps-carousel" data-slide-to="1"><i class="sprite-icon-app-2"></i></li>
                <li data-target="#amazing-apps-carousel" data-slide-to="2"><i class="sprite-icon-app-3"></i></li>
                <li data-target="#amazing-apps-carousel" data-slide-to="3"><i class="sprite-icon-app-4"></i></li>
              </ol>
              <!-- Wrapper for slides -->
              <div class="carousel-inner">
                <div class="item active">

                  <h4>&ldquo;Dart 提供了健全的和一致的开发体验用来创建现代 web 程序。这正好就是我们正在寻找的工具。&rdquo;</h4>
                  <p class="person"><span class="title"></span></p>
                  <p class="company">Blossom</p>

                </div>
                <div class="item">
           <h4>&ldquo;我们组建了一个对 Dart 一点都不熟悉的开发团队，并且我们在 6 个月完成了一个 自动销售系统。我认为 Dart 的生产力是相当惊人的。&rdquo;</h4>
                  <p class="person"><span class="title"></span></p>
                  <p class="company">Google CRM</p>
                  
                </div>
                <div class="item">
           <h4>&ldquo;在工作中，可扩展性是非常重要的，但是 Dart 从根本上 保证了这点。&rdquo;</h4>
                  <p class="person"><span class="title"></span></p>
                  <p class="company">Mandrill</p>
                </div>
                <div class="item">
           <h4>&ldquo;当我们第一次开始探索 Dart， 我们非常惊奇她的潜力。当我们开始使用后，更加确信其美好的未来。&rdquo;</h4>
                  <p class="person"><span class="title"></span></p>
                  <p class="company">Montage</p>
                </div>
              </div>
            </div>

          </div>
        </div>
      </section>

      <section class="productivity-tools sec-shadow">
        <div class="row">
          <div class="col-md-12" id="tools">
            <h2>Dart 工具帮助你提高生产力</h2>
            <img src="/imgs/dart-editor.png" alt="Image of Dart Editor">
            <p>Dart Editor 是上手的最简单方式，帮助你编辑、调试、和运行 Dart 程序。当你下载 Dart Editor 时，还包含了以下工具：</p>
          </div>
        </div>
        <div class="row productivity-tools-options">
          <div class="col-md-8 col-md-offset-2">
            <div class="row">
              <div class="col-md-4">
                <h4>Pub package manager</h4>
                <p>获取和分享 Dart 代码的最简单方式， pub 保证你的代码包更新到最新，自动处理版本和依赖关系。</p>
              </div>
              <div class="col-md-4">
                <h4>Dev Server</h4>
                <p>使用 pub dev server 自动生成资源。</p>
              </div>
              <div class="col-md-4">
                <h4>Dartium</h4>
                <p>体验编辑/刷新的开发循环。该版本的Chromium包含了 Dart VM。</p>
              </div>
            </div>
          </div>
        </div>
        
        <div class="row">
          <div class="col-md-12">
          {% include downloads/_dart-editor.html buttonclass="btn btn-primary btn-lg" %}
          </div>
          <aside class="alert alert-info os-choices col-md-8 col-md-offset-2">
            <b>注意：</b>
                                       你可以使用最近发布的任意版本编辑器编写 Dart 应用
            {% include os-choices.html %}
            Dart 开发工具 <b>不支持 Windows XP</b>。
            Dart Editor 需要 Java 6+版本。
          </aside>
        </div>
      </section>
    </div> <!-- end container -->
  </div> <!-- end container-page -->      
